/* This file is part of
   https://github.com/wopfel/svg-calendar
*/

text {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
text.dayofmonth {
    fill: #111;
}
text.monthname {
    font-size: 150%;
}
text.nameofday {
    font-size: 50%;
}
/* Style of Sunday (0 is Sunday) */
text.dayofweek0 {
    fill: red;
}

/* A (public) holiday */
text.holiday {
    fill: red;
}

/* The line below each day cell */
line {
    stroke:rgb(150, 150, 150);
    stroke-width: 1px;
}
text.weeknumber {
    fill: #ddd;
    stroke: #ccc;
    stroke-width: 0.3px;
}

/* The week and day markers, and the notations */
text.weekmarker {
    fill: #222;
}
text.daymarker {
    fill: #555;
    font-size: 90%;
    font-style: italic;
}
text.notation {
    fill: #a22;
    font-size: 90%;
}

/* Day rect */
rect.dayrect {
    fill: none;
}
/* Light gray background for Saturday and Sunday */
rect.dayofweek6, rect.dayofweek0 {
    fill: #eee;
}
